.searchbar-root {
    background-color: #FAFBFC;
    box-shadow: 0px 5px 2px 1px rgb(22 21 21 / 22%);
}

.submit-btn {
    background-color: #542686 !important;
    color: #FFFFFF;
}

.category-filter {
    height: 50px;
    width: 50%;
    background-color: #FAFBFC;
    border-radius: 6px;
    padding-inline-start: 10px;
    border: 1px solid #E9E7E7;
}